

.card {
    /* padding-top: 60px; */
    background-color: #fff;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19); */
}

.pay {
    font-size: 18px;
    color: rgb(49, 42, 42);
    font-weight: 600;
    margin-top: 5px
}

.amount {
    background-color: #ddddeb;
    border-radius: 7px
}

.inner {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 19px;
    padding-right: 19px
}

.dollar {
    color: #0d192d;
    font-size: 20px;
    font-weight: 500
}

.total {
    font-size: 20px;
    font-weight: 500;
    color: #dd1b1b
}

.labeltxt {
    font-size: 13px;
    color: #adb5bd;
    font-weight: 500;
    margin-top: 5px
}

.image {
    position: relative;
    top: 4px;
    right: 0px
}

.form-control {
    border: 2px solid #c4c2d0;
    /* border-radius: 7px */
}

.inputtxt {
    color: #000 !important;
    font-weight: bold;
    font-size: 14px;
    padding-top: 21px;
    padding-bottom: 21px
}

.exptxt {
    color: #adb5bd;
    font-size: 13px;
    font-weight: 500
}

.cvvtxt {
    color: #adb5bd;
    font-size: 13px;
    font-weight: 500
}

.expiry {
    padding-top: 21px;
    padding-bottom: 21px;
    width: 120px;
    font-size: 14px;
    font-weight: bold
}

.cvv {
    padding-top: 21px;
    padding-bottom: 21px;
    width: 120px
}

/* .cancel {
    background-color: #fff;
    color: #adb5bd;
    font-size: 13px;
    font-weight: 500;
    border: none;
    position: relative;
    top: 24px
} */





.payment {
    font-weight: 600;
    font-size: 14px;
    background-color: #673AB7;
    border: none;
    width: 150px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 11px
}

